# == Cache do Python ==
*.pyc
__pycache__
.cache/

# == Arquivos do ambiente virtual
myvenv
../myvenv

# == Configurações de produção ==
emaula/website/settings/production.py
emaula/website/settings/settings.py
emaula/website/settings/secrets.json
emaula/website/secrets.json

# == Log do geckodriver (selenium) ==
geckodriver.log

# == Arquivos de media ==
emaula/website/media/*

# == Banco de dados ==
db.sqlite3

# == Configuração do servidor ==
server_config
