# == Cache do Python ==
*.pyc
__pycache__
.cache/

# == Arquivos do ambiente virtual
myvenv
../myvenv

# == Variáveis de ambiente ==
# .env

# == Log do geckodriver (selenium) ==
geckodriver.log

# == Arquivos de media ==
emaula/website/media/*

# == Banco de dados ==
db.sqlite3

# == Configuração do servidor ==
server_config
