certifi==2017.4.17
chardet==3.0.4
Django==2.2.10
django-embed-video==1.1.2
django-environ==0.4.5
idna==2.5
gunicorn==19.9.0
olefile==0.44
Pillow==4.1.1
psycopg2-binary==2.7.7
pytz==2017.2
requests==2.21.0
selenium==3.141.0
urllib3==1.24.1
