{% extends 'school/base.html' %}

{% load static %}

<title>{% block title %}EmAula.xyz - Termos e condições de uso{% endblock %}</title>

{% block content %}
    <h2>Termos e condições de uso</h2>

    <p class="lead">0. DEFINIÇÕES DOS TERMOS USADOS</p>
    <p class="lead">Daqui em diante, aplicam-se as seguintes definições aos termos escritos em maiúsculas e entre aspas:</p>
    <strong>
        <p class="lead">a) "SITE" se refere ao website EmAula.xyz.</p>
        <p class="lead">b) "USUÁRIO" se refere à pessoa, ou sistema computacional, que esteja usando o "SITE" no momento.</p></strong>

    <p class="lead">Esses termos e condições de uso se aplicam ao acesso e interação com o site EmAula.xyz.</p>

    <p class="lead">Qualquer pessoa que pretende utilizar esse e qualquer site deverá ler e certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos e Condições de uso, pois A ACEITAÇÃO DESSES TERMOS E CONDIÇÕES É ABSOLUTAMENTE INDISPENSÁVEL À UTILIZAÇÃO DO SITE.</p>

    <p class="lead">O EmAula.xyz respeita a privacidade das informações pessoais dos visitantes do website e, por isso, tem como política NÃO VENDER, NÃO DISTRIBUIR OU FORNECER AS INFORMACÕES DE ACESSO A TERCEIROS PARA FINS MERCADOLÓGICOS OU PARA QUALQUER OUTRO FIM. Quando você visita nosso website, nossos servidores armazenam automaticamente as informações que são utilizadas para fins estatísticos. Na visita, o usuário tem total liberdade e direito de ocultar qualquer informação que possa tornar seu computador identificável, valendo-se de tecnologias que auxiliem a anominização, a exemplo de - mas não limitando-se a: proxies, browsers, VPNs, scripts e plugins.</p>

    <p class="lead">Os usuários serão identificados pelos dados que fornecerem ao criar uma conta, sejam eles verdadeiros ou não. Essa identificação se dará pelo IP, nome e e-mail informado pelo próprio usuário e apenas para fins de utilização do site tais como: criação, edição e publicação de aulas ou solicitações realizadas por contatos iniciados pelo usuário. </p>

    <p class="lead">As informações encaminhadas pelos formulários do site trafegam pela internet com a criptografia oferecida pelo certificado do Let's Encrypt. Ainda assim, como todo e qualquer meio eletrônico, tais informações podem estar sujeitas a interceptação por agentes externos à administração do site, pelo qual não nos responsabilizamos. </p>

    <p class="lead">A administração do EmAula.xyz reserva-se o direito de bloquear determinado IPs, e-mail ou conta que criem conteúdo definido como SPAM. Reserva-se também o direito de excluir tais conteúdos ou aulas do site. Por SPAM entende-se: "envio e postagem de mensagens em massa, incluindo mensagens publicitárias, scam, hoaxes, correntes e tentativas de phising".</p>

    <p class="lead">O EmAula.xyz, entretanto, não tem a responsabilidade de controlar o acesso nem a utilização que os usuários fazem do Portal, assim como o acesso aos links nele indicados pelos usuários registrados no site. Os links disponibilizados podem apontar para sites (como Youtube, Soundcloud e outros) que possuem termos de uso e política de privacidade diferente do EmAula.xyz e é de responsabilidade do usuário se inteirar de tais documentos e concordar com os mesmos ao utilizar estes sites.</p>

    <p class="lead">É de responsabilidade dos próprios usuários A NÃO PROPAGAÇÃO DE DISCURSO DE ÓDIO OU INCITAÇÃO À VIOLÊNCIA CONTRA QUALQUER RAÇA, GÊNERO, ETNIA, NACIONALIDADE, RELIGIÃO OU ORIENTAÇÃO SEXUAL quando dos comentários no EmAula.xyz. O EmAula.xyz não se responsabiliza pelos danos e prejuízos de qualquer natureza que possam advir da má utilização do site por seus visitantes. O usuário responderá pelos danos e prejuízos de qualquer natureza originados pelo descumprimento de qualquer uma das obrigações a que fica submetido por estes Termos e Condições de Uso.</p>

    <p class="lead">É de responsabilidade dos próprios autores as opiniões ou afirmações encontradas nos conteúdos e páginas do EmAula.xyz. A publicação das aulas não necessariamente representam as opiniões e crenças pessoais dos administradores e criadores do EmAula.xyz.</p>

    <p class="lead">Os conteúdos compartilhados no site ou em aulas podem ter diversas licenças pelas quais não nos resposabilizamos ou clamamos propriedade. Usuários que criarem conteúdo original e publicarem no EmAula.xyz mantém o copyright sobre esse conteúdo, embora clamemos fortemente para que esse conteúdo receba uma licença que permita o livre compartilhamento.</p>

    <p class="lead">O código deste site está licenciado com uma Licença Creative Commons Atribuição 4.0 Internacional, dando a qualquer usuário o direito de: COMPARTILHAR (copiar e redistribuir o código em qualquer suporte ou formato),  ADAPTAR (remixar, transformar, e criar a partir do código para qualquer fim, mesmo que comercial, CONTANTO QUE OS SEGUINTES TERMOS SEJAM RESPEITADOS: ATRIBUIÇÃO (Você deve dar o crédito apropriado, prover um link para a licença e indicar se mudanças foram feitas. Você deve fazê-lo em qualquer circunstância razoável, mas de maneira alguma que sugira ao licenciante a apoiar você ou o seu uso.) E SEM RESTRIÇÕES ADICIONAIS (Você não pode aplicar termos jurídicos ou medidas de caráter tecnológico que restrinjam legalmente outros de fazerem algo que a licença permita, POR EXEMPLO, ESTABELECENDO COPYRIGHT SOBRE O CONTEÚDO REPRODUZIDO).</p>

    <p class="lead">O EmAula.xyz não alterará o presente Termo e Condições de Uso, exceto em caso de explícito abuso e para proteger alguma possível vulnerabilidade encontrada no site.</p>

    <p class="lead">Ao navegar pelo EmAula.xyz, o interessado aceita inequivocamente todos os Termos e Condições descritos aqui.</p>

    <p class="lead">Os presentes Termos e Condições de Uso regem-se pela legislação da República Brasileira. Os usuários do EmAula.xyz se submetem ao Foro Central da Comarca de Porto Alegre, com exclusão de qualquer outro, por mais privilegiado que seja.</p>

    <p class="lead">Em caso de dúvida, entrar em contato com os administradores através dos canais disponibilizados no site. </p>
{% endblock %}